*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.header {
  height: 60rem;
  background: url("../img/first-bg.jpg"); }

.hamburger span {
  background: #fff;
  display: block;
  height: 2px;
  margin-bottom: 5px;
  width: 2.4rem; }
