.header {
    height: 60rem;
    background: url('../img/first-bg.jpg');
}

.hamburger {
    //float: right;
}

.hamburger span {
    background: #fff;
    display: block;
    height: 2px;
    margin-bottom: 5px;
    width: 2.4rem;
}
  